<div class="info-window">
  <strong><%= activity.name %></strong><br>
  <%= activity.address %><br>
  <em>Category:</em> <%= activity.category&.name || "Unknown" %><br>

  <% if trip&.start_date.present? %>
    <em>Visited:</em> <%= trip.start_date.strftime("%B %Y") %><br>
  <% end %>

  <% if reviews.any? %>
    <div>
      <strong>Review:</strong> <%= reviews.first.comment %><br>
      <em>Rating:</em> <%= reviews.first.rating %>/5
    </div>
  <% end %>
</div>
