<div data-controller="search">
  <%= label_tag :username, "Search by place or friend" %>
  <%= text_field_tag :username, nil, placeholder: "e.g. jordang", data: { search_target: "input" } %>
  <%= button_tag "Search", type: "button", data: { action: "click->search#submit" } %>
</div>

<div
  id="map"
  data-controller="map"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-markers-value="<%= @markers.to_json %>"
  style="height: 500px; width: 100%;">
</div>

<%= debug @markers %>
