<div class="d-flex flex-column align-items-center min-vh-100 pb-5", style="padding-top: 40px">

  <turbo-frame id="user_profile_<%= @user.id %>" class="w-100">
    <div class="container pt-2 d-flex flex-column align-items-center" style="max-width: 1000px;">

      <% avatar_urls = [
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946312/duck_uzatea.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946487/giraffe_iz6dir.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946487/panda-bear_k5x6yb.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946488/dragon_vsob23.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946488/penguin_selpzx.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946488/dog_v3wmnw.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946488/jaguar_atrb2w.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946488/hippopotamus_jbd2vd.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946493/bear_pt8nwf.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748946493/koala_zt8cxo.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748947149/goat_jmp9oi.png",
          "https://res.cloudinary.com/dpekautsm/image/upload/v1748947148/wolf_ydwzua.png"
        ] %>

      <% selected_url = avatar_urls.first %>
      <% selected_index = avatar_urls.index(selected_url) %>
      <% avatar_urls[selected_index] %>

      <div class="d-flex justify-content-center mb-1 w-100">
        <img id="avatarPreview" src="<%= selected_url %>" alt="Avatar Preview" style="width: 120px; height: 120px; border-radius: 50%;">
      </div>


      <div class="d-flex align-items-center justify-content-center pt-2 mb-2">
        <h1 class="fw-bold fs-3 mb-0 ps-1"><%= @user.username %></h1>
        <% if current_user == @user %>
          <%= link_to edit_user_path(@user), data: { turbo_frame: "user_profile_#{@user.id}" }, class: "btn btn-link p-0 ms-2", title: "Edit Profile" do %>
            <i class="fa-solid fa-user-pen fs-5" style="color: #999999"></i>
          <% end %>
        <% end %>
      </div>

      <div class="d-flex align-items-center justify-content-center gap-2 ms-3">
        <p class="small mb-0"><%= pluralize(@user.confirmed_friends.count, 'friend') %></p>
        <span class="small mb-0">|</span>
        <span class="badge bg-<%= level_badge_color(@user.level) %>">
          <%= @user.level %>
        </span>
      </div>

      <div class="mt-3 pt-3 w-100 text-center">
        <% if current_user != @user %>
          <% if current_user.friend_with?(@user) %>
            <span class="archivo badge btn btn-secondary">Friends</span>
          <% elsif current_user.sent_requests.find_by(friend: @user) %>
            <span class="badge-friend fs-6",>Friend request sent</span>
          <% elsif (friend_request = current_user.pending_friend_requests.find_by(user: @user)) %>
            <div class="btn-group p-2">
              <%= button_to 'Accept', friendship_path(friend_request), method: :patch, params: { status: 'accepted' }, class: "btn btn-outline-success btn-sm rounded archivo me-2", style: "font-weight: 600;" %>
              <%= button_to 'Decline', friendship_path(friend_request), method: :patch, params: { status: 'declined' }, class: "btn btn-outline-danger btn-sm rounded archivo", style: "font-weight: 600;" %>
            </div>
          <% else %>
            <%= button_to 'Add Friend', friendships_path(friend_id: @user.id), method: :post, class: "btn btn-primary rounded-pill archivo mb-2", style: "width: 150px; font-weight: 600; font-size: 18px; margin-top: -6px;" %>
          <% end %>
        <% else %>
          <button class="btn btn-light-green rounded-pill archivo mb-2", style: "width: 150px; font-weight: 600; font-size: 12px", data-bs-toggle="collapse" data-bs-target="#friendRequests" aria-expanded="false" aria-controls="friendRequests">
            View Friend Requests
          </button>

          <div class="collapse mt-2" id="friendRequests">
            <% if current_user.pending_friend_requests.any? %>
              <ul class="list-group mt-2">
                <% current_user.pending_friend_requests.each do |req| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-2">
                      <img src="<%= req.user.user_image_url %>" alt="<%= req.user.username %>'s avatar" style="width: 24px; height: 24px; border-radius: 50%; object-fit: cover;" />
                      <%= link_to req.user.username, user_path(req.user), class: "fw-semibold text-decoration-none", style: "color: #59683b;" %>
                    </div>
                    <div class="btn-group">
                      <%= button_to 'Accept', friendship_path(req), method: :patch, params: { status: 'accepted' }, class: "btn btn-outline-success btn-sm me-2" %>
                      <%= button_to 'Decline', friendship_path(req), method: :patch, params: { status: 'declined' }, class: "btn btn-outline-danger btn-sm" %>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p class="text-muted mt-2">You have no friend requests.</p>
            <% end %>
          </div>
        <% end %>

      <% if @trips.empty? %>
        <div class="text-center mt-4 w-100">
          <h3 class="archivo fs-6 pt-5 pb-3", style="font-weight: 700;">You've not planned any trips yet!</h3>
          <% if current_user == @user %>
            <%= link_to root_path, class: "btn btn-secondary rounded-pill archivo mb-2", style: "width: 150px; font-weight: 600; font-size: 18px" do %>
              Plan a trip →
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div>

    <div class="container-fluid mt-5 pt-4 pb-5 mb-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <% @trips.each do |trip| %>
          <div class="col">
            <div class="shadow-lg rounded overflow-hidden h-100 d-flex flex-column">
              <%= link_to trip_path(trip), data: { turbo: false }, class: "text-decoration-none text-dark flex-grow-1 d-flex flex-column" do %>
                <% image_url = trip.activities.first&.image_url %>
                <div class="w-100" style="height: 185px; overflow: hidden; margin-top: -25px;">
                  <% if image_url.present? %>
                    <img src="<%= image_url %>" alt="<%= trip.location %> image" class="w-100 h-100" style="object-fit: cover;"  />
                  <% else %>
                    <div class="w-100 h-100 bg-secondary d-flex align-items-center justify-content-center text-white">
                      No image
                    </div>
                  <% end %>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-end px-3 mt-3 mb-3 flex-grow-1">
                    <% if trip.end_date < Date.today %>
                      <i class="fa-solid fa-circle-check text-success mb-2 fs-3 rounded-circle p-1"></i>
                    <% else %>
                      <span class="badge bg-warning mb-3 p-1">Upcoming</span>
                    <% end %>
                  <h5 class="card-title text-center mb-1 fs-5">
                    <strong ><%= trip.location %></strong>
                  </h5>
                  <p class="card-text text-muted fs-6 mb-0">
                    <%= trip.start_date.strftime("%m/%d/%Y") %> - <%= trip.end_date.strftime("%m/%d/%Y") %>
                  </p>
                </div>
              <% end %>

              <div class="d-flex align-items-center gap-2 p-3 " style="background-color: #f7f5e8;">
                <div style="width: 30px; height: 30px;">
                  <img src="<%= trip.user.user_image_url %>" alt="<%= trip.user.username %>'s avatar" class="rounded-circle w-100 h-100" style="object-fit: cover;" />
                </div> <br>
                <small class="text-muted">
                  <strong style="color:#59683b" class="archivo-black"><%= trip.user.username %></strong> <%= time_ago_in_words(trip.created_at) %> ago
                </small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </turbo-frame>

</div>
