<div class="d-flex flex-column align-items-center bg-white min-vh-100 pt-4 pb-5">

  <turbo-frame id="user_profile_<%= @user.id %>" class="w-100">
    <div class="container d-flex flex-column align-items-center" style="max-width: 600px;">

      <div class="rounded-circle mt-4 pt-3" style="width: 120px; height: 120px;">
        <img src="<%= @user.user_image_url %>" alt="<%= @user.username %>'s avatar" class="img-fluid" />
      </div>

      <div class="d-flex align-items-center justify-content-center mt-4 pt-2 mb-2">
        <h1 class="fw-bold fs-3 mb-0 ps-1"><%= @user.username %></h1>
        <% if current_user == @user %>
          <%= link_to edit_user_path(@user), data: { turbo_frame: "user_profile_#{@user.id}" }, class: "btn btn-link p-0 ms-2", title: "Edit Profile" do %>
            <i class="fa-solid fa-user-pen fs-5", style="color: #999999"></i>
          <% end %>
        <% end %>
      </div>

      <div class="d-flex align-items-center justify-content-center gap-2 ms-3">
        <p class="small mb-0"><%= pluralize(@user.confirmed_friends.count, 'friend') %></p>
        <span class="small mb-0">|</span>
        <span class="badge bg-<%= level_badge_color(@user.level) %>">
          <%= @user.level %>
        </span>
      </div>

      <div class="mt-3 w-100 text-center">
        <% if current_user != @user %>
          <% if current_user.friend_with?(@user) %>
            <span class="badge btn btn-secondary">Friends</span>
          <% elsif current_user.sent_requests.find_by(friend: @user) %>
            <span class="badge bg-secondary fs-6">Friend request sent</span>
          <% elsif (friend_request = current_user.pending_friend_requests.find_by(user: @user)) %>
            <div class="btn-group p-2">
              <%= button_to 'Accept', friendship_path(friend_request), method: :patch, params: { status: 'accepted' }, class: "btn btn-secondary btn-sm rounded-pill archivo", style: "font-weight: 600;" %>
              <%= button_to 'Decline', friendship_path(friend_request), method: :patch, params: { status: 'declined' }, class: "btn btn-outline-danger btn-sm rounded-pill archivo", style: "font-weight: 600;" %>
            </div>
          <% else %>
            <%= button_to 'Add Friend', friendships_path(friend_id: @user.id), method: :post, class: "btn btn-primary btn-sm" %>
          <% end %>
        <% else %>
          <button class="btn btn-secondary btn-sm mt-2 rounded-pill archivo " style="font-weight: 600;" data-bs-toggle="collapse" data-bs-target="#friendRequests" aria-expanded="false" aria-controls="friendRequests">
            View Friend Requests
          </button>

          <div class="collapse mt-2" id="friendRequests">
            <% if current_user.pending_friend_requests.any? %>
              <ul class="list-group mt-2">
                <% current_user.pending_friend_requests.each do |req| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= link_to req.user.username, user_path(req.user), class: "fw-semibold" %>
                    <div class="btn-group">
                      <%= button_to 'Accept', friendship_path(req), method: :patch, params: { status: 'accepted' }, class: "btn btn-success btn-sm" %>
                      <%= button_to 'Decline', friendship_path(req), method: :patch, params: { status: 'declined' }, class: "btn btn-danger btn-sm" %>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p class="text-muted mt-2">You have no friend requests.</p>
            <% end %>
          </div>
        <% end %>

      <% if @trips.empty? %>
        <div class="text-center mt-4 w-100">
          <h3 class="fs-6 pt-5 pb-3">You've not planned any trips yet!</h3>
          <% if current_user == @user %>
            <%= link_to root_path, class: "btn btn-primary" do %>Plan a trip<% end %>
          <% end %>
        </div>
      <% end %>

    </div>


    <div class="container mt-5 pt-4 pb-5 mb-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <% @trips.each do |trip| %>
          <div class="col">
            <div class="shadow rounded overflow-hidden h-100">
              <%= link_to trip_path(trip), class: "text-decoration-none text-dark d-flex flex-column h-100" do %>
                <% image_url = trip.activities.first&.image_url %>
                <div class="w-100" style="height: 185px; overflow: hidden; margin-top: -25px;">
                  <% if image_url.present? %>
                    <img src="<%= image_url %>" alt="<%= trip.location %> image" class="w-100 h-100" style="object-fit: cover;" />
                  <% else %>
                    <div class="w-100 h-100 bg-secondary d-flex align-items-center justify-content-center text-white">
                      No image
                    </div>
                  <% end %>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-end px-3 mt-3 mb-3 flex-grow-1">
                  <% if trip.end_date < Date.today %>
                    <i class="fa-solid fa-circle-check text-success mb-2 fs-3 border border-white rounded-circle p-1"></i>
                  <% end %>
                  <h5 class="card-title text-center mb-1 fs-5">
                    <strong><%= trip.location %></strong>
                  </h5>
                  <p class="card-text text-muted fs-6 mb-0">
                    <%= trip.start_date.strftime("%m/%d/%Y") %> - <%= trip.end_date.strftime("%m/%d/%Y") %>
                  </p>
                </div>

              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </turbo-frame>

</div>
