<div class="modal fade" id="contactUsModal" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="contactUsModalLabel">Contact Plan &amp; Go</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: contact_path, method: :post, local: true do |f| %>
          <div class="form-floating mb-3">
            <%= f.text_field :name, class: "form-control", id: "contactFloatingName", required: true, placeholder: "Your Name" %>
            <%= f.label :name, "Your Name", for: "contactFloatingName" %>
          </div>
          <div class="form-floating mb-3">
            <%= f.email_field :email, class: "form-control", id: "contactFloatingEmail", required: true, placeholder: "example@domain.com" %>
            <%= f.label :email, "Your Email", for: "contactFloatingEmail" %>
          </div>
          <div class="form-floating mb-3">
            <%= f.text_area :message, class: "form-control", id: "contactFloatingMessage", rows: 4, required: true, placeholder: "Write your message here...", style: "height: 100px;" %>
            <%= f.label :message, "Message", for: "contactFloatingMessage" %>
          </div>
          <div class="modal-footer px-0 d-flex flex-row justify-content-center">
            <button type="button" class="btn btn-light rounded-pill archivo mt-5 mb-2" style= "width: 150px; font-weight: 600; font-size: 18px" data-bs-dismiss="modal">Cancel</button>
            <%= f.submit "Send", class: "btn btn-secondary rounded-pill archivo mt-5 mb-2", style: "width: 150px; font-weight: 600; font-size: 18px" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
